.header {
  background: $primaryColor;
  padding-top: 42px;
  padding-bottom: 42px;
  position: relative;
  z-index: 11;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // max-width: 1520px;
    // width: 100%;
    // margin: 0 auto;
  }
  &__logo {
      margin-right: 78px;
  }
  &__nav {
      flex: 1 1 auto;
    & .nav {
        display: flex;
        justify-content: space-between;
      // &__item {
       
      // }
      &__link {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 20px;
        text-align: left;
        color: #fff;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
      }
    }
  }
  &__menu-btn {
      display: none;
      background: transparent;
      border: none;
      margin-left: 50px;
      position: relative;
      z-index: 100;
  }
}


.sandwich {
  cursor: pointer;
  height: 20px;
  position: relative;
  width: 32px;
  &.is {
      &-active {
          .sandwich__line {
              &--top {
                  top: 10px;
                  transform: rotate(45deg);
              }
              &--middle { opacity: 0; }
              &--bottom {
                  top: 10px;
                  transform: rotate(-45deg);
              }
          }
      }
  }
  &__line {
      background-color: #fff;
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      transition: all linear .4s;
      width: 100%;
      &--top { top: 0; }
      &--middle { top: 9px; }
      &--bottom { top: 18px; }
  }
}
