.intro {
  // height: calc(100vh - 150px);
  min-height: 100vh;
  // padding-bottom: 100px;
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #06011e, $alpha: 0.5);
    z-index: 8;
  }
  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    & .splide__slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    & .splide__arrows {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      z-index: 100;
    }
  }
  &__content {
    position: relative;
    z-index: 10;
    flex: 1 0 auto;
    // height: 100%;
    padding-bottom: 150px;
    &-container {
      display: flex;
      flex-direction: column;
      // height: 100%;
    }
  }
  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-top: 235px;
    padding-left: 192px;
    padding-right: 192px;
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 32px;
      left: 0;
      width: 19.5%;
      height: 100%;
      border-top: 1px solid #de9000;
      border-left: 1px solid #de9000;
    }
    & span {
      display: block;
      position: relative;
      z-index: 1;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 32px;
      right: 0;
      width: 19.5%;
      height: 100%;
      border-top: 1px solid #de9000;
      border-right: 1px solid #de9000;
    }
    &.no-border {
      &::before {
        content: none;
      }
      &::after {
        content: none;
      }
    }
  }
  &__desc {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    margin-top: 61px;
  }
  &__btn {
    background-color: #de9000;
    border: none;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    color: #fff;
    padding: 26px 72px;
    &-wrapper {
      position: relative;
      padding-top: 310px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 38%;
        height: 100%;
        border-left: 1px solid #de9000;
        border-bottom: 1px solid #de9000;
        transform: translateY(-42px);
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 38%;
        height: 100%;
        border-right: 1px solid #de9000;
        border-bottom: 1px solid #de9000;
        transform: translateY(-42px);
      }
      &.no-border {
        &::before {
          content: none;
        }
        &::after {
          content: none;
        }
      }
    }
  }
  &__form {
    padding: 40px 42px;
    background-color: rgba($color: #fff, $alpha: 0.2);
    margin-top: 235px;
    border-radius: 16px;
    &-title {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 23px;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      padding-bottom: 18px;
      border-bottom: 2px solid #fff;
      margin-bottom: 30px;
    }
    & input.form-control {
      height: 80px;
      border: none;
      border-radius: 5px;
      margin-bottom: 20px;
      padding: 30px;
      &::placeholder {
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
        font-size: 20px;
        text-align: left;
        color: #4d4b4b;
      }
    }
    & textarea.form-control {
      min-height: 162px;
      margin-bottom: 20px;
      padding: 30px;
      &::placeholder {
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
        font-size: 20px;
        text-align: left;
        color: #4d4b4b;
      }
    }
    & .btn {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 22px;
      text-align: center;
      color: #fff;
      padding: 24px;
      background-color: #003b83;
      border-radius: 8px;
      display: block;
      width: 100%;
    }
  }
}
